<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @owner.name %>
</p>

<p>
  <b>About:</b>
  <%= @owner.about %>
</p>

<p>
  <b>Adopted pets:</b>
  <%= @owner.adopted_pets %>
</p>

<p>
  <b>Current pet:</b>
  <%= @owner.current_pet %>
</p>


<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
