<h1>Listing pets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Breed</th>
    <th>Age</th>
    <th>Size</th>
    <th>Gender</th>
    <th>Info</th>
    <th>Story</th>
    <th>Owner</th>
    <th>Images</th>
    <th>Videos</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pets.each do |pet| %>
  <tr>
    <td><%= pet.name %></td>
    <td><%= pet.breed %></td>
    <td><%= pet.age %></td>
    <td><%= pet.size %></td>
    <td><%= pet.gender %></td>
    <td><%= pet.info %></td>
    <td><%= pet.story %></td>
    <td><%= pet.owner_id %></td>
    <td>
      <% pet.images.map do |img| %>
      <%= image_tag(img) %>
      <% end %>
    </td>
    <td><%= pet.videos %></td>
    <!--<td><%= link_to 'Show', pet %></td>
    <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
    <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    <td><%= link_to 'Adopt', pet, method: :post, data: { adopt:true, confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pet', new_pet_path %>
