<div class="profile">
  <div class="container">
    <div class="profile_image" style="background-image: url('<%=@pet['images'][0]%>');">
      <% if @user %>
      <div class="profile_name">
        <h1><%=@user['name']%></h1>
      </div>
      <% end %>
    </div>
    <div class="status">
      <div class="title">Health</div>
      <div class="bar w">
        <div class="cir" style="left: 0; top:0;"></div>
        <div class="cir" style="left: 0; top:15px;"></div>
        <div class="mid"></div>
        <div class="cir" style="right: 0; top:0;"></div>
        <div class="cir" style="right: 0; top:15px;"></div>
      </div>
      <div class="bar">
        <div class="cir" style="left: 0; top:0;"></div>
        <div class="cir" style="left: 0; top:15px;"></div>
        <div class="mid"></div>
        <div class="cir" style="right: 0; top:0;"></div>
        <div class="cir" style="right: 0; top:15px;"></div>
      </div>
      <div class="num">60%</div>
    </div>
    <!--<div class="additional_photos">
      <div class="photos">
        <a href="#" class="img"><img src="http://upload.wikimedia.org/wikipedia/commons/2/26/YellowLabradorLooking_new.jpg" alt=""></a>
        <a href="#" class="img"><img src="http://upload.wikimedia.org/wikipedia/commons/2/26/YellowLabradorLooking_new.jpg" alt=""></a>
        <a href="#" class="img"><img src="http://upload.wikimedia.org/wikipedia/commons/2/26/YellowLabradorLooking_new.jpg" alt=""></a>
      </div>
    </div>-->
    <div class="clearfix"></div>
    <div class="spacer"><img src="/assets/split.svg" alt=""></div>
    <div class="details">
      <table class="table">
        <tr>
          <td>breed</td>
          <td colspan="2" class="highlight">
            <%= @pet['breed'] %>
          </td>
        </tr>
        <tr>
          <td>gender</td>
          <td>
            <span class="a1 <%= @pet['gender']=='Male' ? 'active' : '' %>"></span>
            <span class="a2 <%= @pet['gender']=='Male' ? '' : 'active' %>"></span>
          </td>
          <td>male</td>
        </tr>
        <tr>
          <td>age</td>
          <td>
            <span class="a3 <%= @pet['age']=='Puppy' ? 'active' : '' %>"></span>
            <span class="a4 <%= @pet['age']=='Young' ? 'active' : '' %>"></span>
            <span class="a5 <%= @pet['age']=='Adult' ? 'active' : '' %>"></span>
          </td>
          <td><%= @pet['age'] %></td>
        </tr>
        <tr>
          <td>size</td>
          <td>
            <span class="a6 <%= @pet['size']=='Small' ? 'active' : '' %>"></span>
            <span class="a7 <%= @pet['size']=='Med.' ? 'active' : '' %>"></span>
            <span class="a8 <%= @pet['size']=='Large' ? 'active' : '' %>"></span>
          </td>
          <td><%= @pet['size'] %></td>
        </tr>
        <tr>
          <td>education</td>
          <td>
            <span class="a9 <%= @pet['info']['neutered'] ? '' : 'active' %>"></span>
            <span class="a10 <%= (@pet['info']['neutered'] && !@pet['info']['good with']) ? 'active' : '' %>"></span>
            <span class="a11 <%= (@pet['info']['neutered'] && @pet['info']['good with']) ? 'active' : '' %>"></span>
          </td>
          <td><%=@pet['info']%></td>
        </tr>
      </table>
    </div>
    <div class="clearfix"></div>
    <div class="spacer"><img src="/assets/split.svg" alt=""></div>
    <% if (@pet['videos'] && @pet['videos'].length>0) %>
    <div class="video">
      <div class="title"><span class="blue">Videos of</span> <%=@pet['name']%></div>
      <div class="videos">
        <% @pet['videos'].each do |v| %>
            <video id="video" autobuffer controls width="100%">
              <source src="<%= v %>" type="video/mp4"/>
            </video>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

</div>



<% if false %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pet.name %>
</p>

<p>
  <b>Breed:</b>
  <%= @pet.breed %>
</p>

<p>
  <b>Age:</b>
  <%= @pet.age %>
</p>

<p>
  <b>Size:</b>
  <%= @pet.size %>
</p>

<p>
  <b>Gender:</b>
  <%= @pet.gender %>
</p>

<p>
  <b>Owner:</b>
  <%= @pet.owner_id %>
</p>

<p>
  <b>Videos:</b>
  <% if @pet.videos %>
      <% @pet.videos.each do |v| %>
          <video id="video" autobuffer controls height="240" width="360">
            <source src="<%= v %>" type="video/mp4"/>
          </video>
      <% end %>
  <% else %>
    <b>No Videos Yet</b>
  <% end %>
</p>

<p>
  <b>Photos:</b>
  <%= @pet.photos %>
</p>


<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
<% end %>