<div class="profile">
  <div class="container">
    <div class="profile_image" style="background-image: url('<%=@pet['images'][0]%>'); background-position: center center;">
      <%= form_tag '/pets/'+@pet['_id'], :id=>'adopt_me', :method => 'post' do %>
          <%= hidden_field :adopt, :value => true %>
          <% if !@pet['owner_id'] and !current_user.current_pet %>
              <img onclick="$('#adopt_me').submit()" src="/assets/btn_adopt_me.png" style="position: absolute;width: 200px;top: 70px;right: 25px;"/>
          <% elsif @pet['owner_id'] and current_user.current_pet %>
              <img src="<%=current_user.image%>" style="position: absolute;width: 200px;top: 70px;right: 25px; border-radius: 100px; border:2px solid white;"/>
          <% end %>
          <!--<%= submit_tag "Adopt" %>-->
      <% end %>
      <div class="profile_name">
        <h1><%=@pet['name']%></h1>
      </div>
    </div>
    <div class="trophy">
      <ul>
        <li>
          <div class="tt">
            <span class="t1" style="position: relative">
              <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top" style="position:absolute; top:0; left:0; width:100%; height:100%">
                <input type="hidden" name="cmd" value="_donations">
                <input type="hidden" name="business" value="donate@SanFranciscoPounds.com">
                <input type="hidden" name="lc" value="US">
                <input type="hidden" name="item_name" value="Treats For Life - 3 Treats">
                <input type="hidden" name="amount" value="2.00">
                <input type="hidden" name="currency_code" value="USD">
                <input type="hidden" name="no_note" value="1">
                <input type="hidden" name="no_shipping" value="1">
                <input type="hidden" name="merchant_return_link" value="1">
                <input type="hidden" name="rm" value="1">
                <input type="hidden" name="return" value="<%=app_url%>/pets/<%=@pet['_id']%>/treat/">
                <input type="hidden" name="cancel_return" value="<%=app_url%>/pets/<%=@pet['_id']%>/">
                <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHosted">
                <input type="image" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" style="position:absolute; top:0; left:0; width:100%; height:100%">
                <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
            </span>
            <span class="num">2$</span>
          </div>
        </li>
        <li>
          <div class="tt">
            <span class="t3" style="position: relative">
              <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top" style="position:absolute; top:0; left:0; width:100%; height:100%">
                <input type="hidden" name="cmd" value="_donations">
                <input type="hidden" name="business" value="donate@SanFranciscoPounds.com">
                <input type="hidden" name="lc" value="US">
                <input type="hidden" name="item_name" value="Treats For Life - Toy Ball">
                <input type="hidden" name="amount" value="5.00">
                <input type="hidden" name="currency_code" value="USD">
                <input type="hidden" name="no_note" value="1">
                <input type="hidden" name="no_shipping" value="1">
                <input type="hidden" name="merchant_return_link" value="1">
                <input type="hidden" name="rm" value="1">
                <input type="hidden" name="return" value="<%=app_url%>/pets/<%=@pet['_id']%>/toy/">
                <input type="hidden" name="cancel_return" value="<%=app_url%>/pets/<%=@pet['_id']%>/">
                <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHosted">
                <input type="image" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" style="position:absolute; top:0; left:0; width:100%; height:100%">
                <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
            </span>
            <span class="num">5$</span>
          </div>
        </li>
        <li>
          <div class="tt">
            <span class="t2" style="position: relative">
                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top" style="position:absolute; top:0; left:0; width:100%; height:100%">
                  <input type="hidden" name="cmd" value="_donations">
                  <input type="hidden" name="business" value="donate@SanFranciscoPounds.com">
                  <input type="hidden" name="lc" value="US">
                  <input type="hidden" name="item_name" value="Treats For Life - Walk in the Park">
                  <input type="hidden" name="amount" value="10.00">
                  <input type="hidden" name="currency_code" value="USD">
                  <input type="hidden" name="no_note" value="1">
                  <input type="hidden" name="no_shipping" value="1">
                  <input type="hidden" name="merchant_return_link" value="1">
                  <input type="hidden" name="rm" value="1">
                  <input type="hidden" name="return" value="<%=app_url%>/pets/<%=@pet['_id']%>/walk/">
                  <input type="hidden" name="cancel_return" value="<%=app_url%>/pets/<%=@pet['_id']%>/">
                  <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHosted">
                  <input type="image" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" style="position:absolute; top:0; left:0; width:100%; height:100%">
                  <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </span>
            <span class="num">10$</span>
          </div>
        </li>
      </ul>
    </div>
    <br/>
    <div class="status">
      <div class="title">Happiness</div>
      <div class="bar w">
        <div class="cir" style="left: 0; top:0;"></div>
        <div class="cir" style="left: 0; top:15px;"></div>
        <div class="mid"></div>
        <div class="cir" style="right: 0; top:0;"></div>
        <div class="cir" style="right: 0; top:15px;"></div>
      </div>
      <div class="bar" style="clip: rect(0, 180px, 30px, <%=@health.to_i*180%>px);">
        <div class="cir" style="left: 0; top:0;"></div>
        <div class="cir" style="left: 0; top:15px;"></div>
        <div class="mid"></div>
        <div class="cir" style="right: 0; top:0;"></div>
        <div class="cir" style="right: 0; top:15px;"></div>
      </div>
      <div class="num"><%=(@health.to_i*100).to_i%>%</div>
    </div>
    <!--<div class="additional_photos">
      <div class="photos">
        <a href="#" class="img"><img src="http://upload.wikimedia.org/wikipedia/commons/2/26/YellowLabradorLooking_new.jpg" alt=""></a>
        <a href="#" class="img"><img src="http://upload.wikimedia.org/wikipedia/commons/2/26/YellowLabradorLooking_new.jpg" alt=""></a>
        <a href="#" class="img"><img src="http://upload.wikimedia.org/wikipedia/commons/2/26/YellowLabradorLooking_new.jpg" alt=""></a>
      </div>
    </div>-->
    <div class="clearfix"></div>
    <div class="spacer"><img src="/assets/split.svg" alt=""></div>
    <div class="details">
      <table class="table">
        <tr>
          <td>breed</td>
          <td colspan="2" class="highlight">
            <%= @pet['breed'] %>
          </td>
        </tr>
        <tr>
          <td>gender</td>
          <td>
            <span class="a1 <%= @pet['gender']=='Male' ? 'active' : '' %>"></span>
            <span class="a2 <%= @pet['gender']=='Male' ? '' : 'active' %>"></span>
          </td>
          <td>male</td>
        </tr>
        <tr>
          <td>age</td>
          <td>
            <span class="a3 <%= @pet['age']=='Puppy' ? 'active' : '' %>"></span>
            <span class="a4 <%= @pet['age']=='Young' ? 'active' : '' %>"></span>
            <span class="a5 <%= @pet['age']=='Adult' ? 'active' : '' %>"></span>
          </td>
          <td><%= @pet['age'] %></td>
        </tr>
        <tr>
          <td>size</td>
          <td>
            <span class="a6 <%= @pet['size']=='Small' ? 'active' : '' %>"></span>
            <span class="a7 <%= @pet['size']=='Med.' ? 'active' : '' %>"></span>
            <span class="a8 <%= @pet['size']=='Large' ? 'active' : '' %>"></span>
          </td>
          <td><%= @pet['size'] %></td>
        </tr>
        <tr>
          <td>education</td>
          <td>
            <span class="a9 <%= @pet['info']['neutered'] ? '' : 'active' %>"></span>
            <span class="a10 <%= (@pet['info']['neutered'] && !@pet['info']['good with']) ? 'active' : '' %>"></span>
            <span class="a11 <%= (@pet['info']['neutered'] && @pet['info']['good with']) ? 'active' : '' %>"></span>
          </td>
          <td><%=@pet['info']%></td>
        </tr>
      </table>
    </div>
    <div class="clearfix"></div>
    <div class="spacer"><img src="/assets/split.svg" alt=""></div>
    <% if (@pet['videos'] && @pet['videos'].length>0) %>
    <div class="video">
      <div class="title"><span class="blue">Videos of</span> <%=@pet['name']%></div>
      <div class="videos">
        <% @pet['videos'].each do |v| %>
            <video id="video" autobuffer controls width="100%">
              <source src="<%= v %>" type="video/mp4"/>
            </video>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

</div>



<% if false %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pet.name %>
</p>

<p>
  <b>Breed:</b>
  <%= @pet.breed %>
</p>

<p>
  <b>Age:</b>
  <%= @pet.age %>
</p>

<p>
  <b>Size:</b>
  <%= @pet.size %>
</p>

<p>
  <b>Gender:</b>
  <%= @pet.gender %>
</p>

<p>
  <b>Owner:</b>
  <%= @pet.owner_id %>
</p>

<p>
  <b>Videos:</b>
  <% if @pet.videos %>
      <% @pet.videos.each do |v| %>
          <video id="video" autobuffer controls height="240" width="360">
            <source src="<%= v %>" type="video/mp4"/>
          </video>
      <% end %>
  <% else %>
    <b>No Videos Yet</b>
  <% end %>
</p>

<p>
  <b>Photos:</b>
  <%= @pet.photos %>
</p>


<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
<% end %>