<div class="feed" id="feed">
<div class="box">
  <div class="inner" style="background-image: url('http://upload.wikimedia.org/wikipedia/commons/2/26/YellowLabradorLooking_new.jpg')">
    <div class="box-head">
      <div class="prof">
        <a href="user_profile.php" class="loadPage"><div class="profile_img" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/joshaustin/128.jpg');"></div></a>
      </div>
      <div class="status">
        <a href="profile.php" class="loadPage"><h1>Guy gave Rexy a treat</h1></a>
      </div>
				<span class="icon" style="background-image: url('img/icon1.svg')">
				</span>
    </div>
  </div>
  <div class="box-foot">
    <a href="#" class="btn btn-like"><span class="heart"></span> woof</a>
    <ul class="social pull-right">
      <li><a href="#" class="btn btn-like facebook"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#" class="btn btn-like twitter"><i class="fa fa-twitter"></i> </a></li>
      <li><a href="#" class="btn btn-like plus"><i class="fa fa-google-plus"></i></a></li>
    </ul>
  </div>
  <div class="clearfix"></div>
  <div class="spacer"><img src="img/split.svg" alt=""></div>
</div>
</div>




<h1>Listing actions</h1>

<table>
  <tr>
    <th>User</th>
    <th>User name</th>
    <th>Action</th>
    <th>Action Name</th>
    <th>Pet</th>
    <th>Pet name</th>
    <th>Object</th>
    <th>Object name</th>
    <th>T</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @actions.each do |action| %>
  <tr>
    <td><%= action.uid %></td>
    <td><%= action.uname %></td>
    <td><%= action.aid %></td>
    <td><%= action.aname %></td>
    <td><%= action.pid %></td>
    <td><%= action.pname %></td>
    <td><%= action.oid %></td>
    <td><%= action.oname %></td>
    <td><%= action.t %></td>
    <td><%= link_to 'Show', action %></td>
    <td><%= link_to 'Edit', edit_action_path(action) %></td>
    <td><%= link_to 'Destroy', action, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Action', new_action_path %>
