<div class="feed" id="feed">
  <% @actions.each do |action| %>
      <div class="box">
        <div class="inner" style="background-image: url('<%=action[:pet]['images'][0]%>')">
          <div class="box-head">
            <% if  action[:user] %>
                <div class="prof">
                  <a href="/owner/<%= action['uid'] %>">
                    <div class="profile_img" style="background-image: url('<%=action[:user]['image']%>');"></div>
                  </a>
                </div>
            <% end %>
            <div class="status">
              <h1><%= action['uname'].split(' ').first %> <%= action['aname'] %> <%= action['pname'] %> <%= ('a ' + action['oname'].capitalize) if action['oname']!='' %></h1>
            </div>
            <span class="icon" style="background-image: url('assets/icon1.svg')"></span>
          </div>
        </div>
        <div class="box-foot">
          <a href="#" class="btn btn-like"><span class="heart"></span> woof</a>
          <ul class="social pull-right">
            <li><a href="#" class="btn btn-like facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="btn btn-like twitter"><i class="fa fa-twitter"></i> </a></li>
            <li><a href="#" class="btn btn-like plus"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
        <div class="spacer"><img src="/assets/split.svg" alt=""></div>
      </div>
  <% end %>
</div>



<% if false %>
    <h1>Listing actions</h1>

    <table>
      <tr>
        <th>User</th>
        <th>User name</th>
        <th>Action</th>
        <th>Action Name</th>
        <th>Pet</th>
        <th>Pet name</th>
        <th>Object</th>
        <th>Object name</th>
        <th>T</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @actions.each do |action| %>
          <tr>
            <td><%= action.uid %></td>
            <td><%= action.uname %></td>
            <td><%= action.aid %></td>
            <td><%= action.aname %></td>
            <td><%= action.pid %></td>
            <td><%= action.pname %></td>
            <td><%= action.oid %></td>
            <td><%= action.oname %></td>
            <td><%= action.t %></td>
            <td><%= link_to 'Show', action %></td>
            <td><%= link_to 'Edit', edit_action_path(action) %></td>
            <td><%= link_to 'Destroy', action, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
    </table>

    <br/>

    <%= link_to 'New Action', new_action_path %>
<% end %>